
.home-header {
  width: 100%;
  display: flex;
}



.NavButtonsGroup {
  width: 100%;
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}


/*SCROLL BAR CSS*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
